body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #486384;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #4835a9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(148, 52, 52, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #744141;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #3e8fb2; /* blue color */
    color: #0f0d19;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #09292a; /* darker shade of blue on hover */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #b63c3c;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  /* Adding styles for the table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #e9e1e1;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #3e8fb2; /* blue color for header */
    color: #080707;
  }
  